//Variables for all css
$debugging: false;
$wrapBkg: #87aed1;
$textColor: #eee;
$padding: 0px;
$wrapperWidth: 1024 - ($padding * 2);
$colors: orange, yellow, purple, blue, pink, green;
$boardSize: 600px;
$startPos: 300px;